# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# macOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
/macos/Podfile
.metadata
/linux

# 忽略 Windows 和 Linux 下的生成文件

**/flutter/generated_plugins.cmake
**/flutter/ephemeral/
**/CMakeLists.txt
**/flutter/generated_plugin_registrant.*
**/**/GeneratedPluginRegistrant.swift

